.searchAccount,
.resultScreen {
  background: #fff;
  padding: 12px;
  border-radius: 5px;
}

.searchScreen {
    margin-top: 10px;
}

.actionButton {
  display: flex;
  justify-content: space-between;
}

.freeInput {
    margin-top: -20px;
    width: calc(100% - 120px);
}

.resultIcon {
  margin-bottom: 10px;
}

.searchIcon span {
  margin-left: 10px;
}

.resultIcon span {
  margin-left: 10px;
}

.resultScreen {
  margin-top: 10px;
}